#faceMesh{
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;
}
#ytb{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    min-width: var(--min-width);
    min-height: var(--min-height);
}