@import "./CssExtras/CssExtras.css";

#phone{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: var(--min-width);
    min-height: var(--min-height);
    overflow: hidden;
    transition: all 1s ease-in-out;
    background: var(--bg-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
#phone > #cont{
    width: 40vw;
    height: auto;
  
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cont > .imgTestimony{
    width: 100%;
    height: auto;
}
#cont > p{
    padding:1em;
}
  
#phone > #contArgPersons{
    width: 85vw;
    height: auto;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleMetadatos{
    font-size: 2em;
}
#phone > #contScanLoad{
    position: absolute;
    bottom: 5vh;
    z-index: 50;
    width: 10em;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#phone > #contScanLoad > #irisScan{
    color: #30FF30;
    font-weight: bold;
}
#phone > #contScanLoad > .loadGif{
    width: 4em;
    height: auto;
}
#contNames{
    width: 70vw;
    height: 80vh;
    overflow-y: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}